
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,100&display=swap');


:root{
    --primary-color: #c7a17a;
    --background-color: #f9f5f0;
    --dark-color:  #151515;
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'poppins','sans-serif';
}


.container{
    max-width: 120rem;
    margin: 0 auto;

}

.container-hero{
    background-color: var(--background-color);
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.customer-support{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.customer-support i{
    font-size: 3.3rem;
}
.content-custommer-support{
    display: flex;
    flex-direction: column;
    
}
.firma{
width: 13rem;
height: 9rem;
border: solid;
border-color: var(--primary-color);
border-radius: 9%;
}
.container-logo{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.container-logo i{
    font-size: 3rem;
}
.container-logo h1 a{
    text-decoration: none;
    color: #000000;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -1px;

}
.container-user{
    display: flex;
    gap: 1rem;
    cursor: pointer;
    
}

.container-user .fa-user{
    font-size: 3rem;
    color: var(--dark-color);
    padding-right: 2.5rem;
    border-right: 1px solid #e2e2e2 ;
}

.container-user .fa-flask{
    font-size: 3rem;
    color: var(--dark-color);
    padding-left: 1rem;

}
.content-shopping-cart{
    display: flex;
    flex-direction: column;
}

            /* NAVBAR*/

.container-navbar{
    background-color: var(--primary-color);
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

}

.navbar-container .fa-bars{
    display: none;
}
.menu{
    display: flex;
    gap: 2rem;

}

.menu li{
    list-style: none;
}

.menu a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--dark-color);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.menu a::after{
    content: '';
    width: 1.5rem;
    height: 1px;
    background-color: #f9f5f0;
    position: absolute;
    bottom: -3px;
    left: 50px;
    transform: translate(-50%,50%);
    opacity: 0;
    transition: all.3s ease;
}

.menu  a:hover::after{
    opacity: 1;
}

.menu a:hover{
    color: #f9f5f0;
}

.search-form{
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #f9f5f0;
    border-radius: 2rem;
    background-color: #f9f5f0;
    height: 4.4rem;
    
}

.search-form input{
    outline: none;
    font-family: inherit;
    border: none;
    width: 25rem;
    font-size: 1.4rem;
    padding: 0 2rem;
    color: #777;
    cursor: pointer;
}
.search-form input::-webkit-search-cancel-button{
    appearance: none;

}

.search-form .btn-search{
    border-radius:30px ;
    border-style: solid;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1rem;
}

.btn-search{
    font-size: 2rem;
    cursor: pointer;
}

                          /*BANNER*/
.banner {
	background-image: linear-gradient(100deg, #000000, #00000020),
		url('img/thomas-cara.jpg');
	height: 60rem;
	background-size: cover;
	background-position: center;
}

.content-banner {
	max-width: 90rem;
	margin: 0 auto;
	padding: 25rem 0;
}

.content-banner p {
	color: var(--primary-color);
	font-size: 1.2rem;
	margin-bottom: 1rem;
	font-weight: 500;
}

.content-banner h2 {
	color: #fff;
	font-size: 3.5rem;
	font-weight: 500;
	line-height: 1.2;
}

.content-banner a {
	margin-top: 2rem;
	text-decoration: none;
	color: #fff;
	background-color: var(--primary-color);
	display: inline-block;
	padding: 1rem 3rem;
	text-transform: uppercase;
	border-radius: 3rem;
}

/* ********************************** */
/*            MAIN CONTENT            */
/* ********************************** */
.main-content {
	background-color: var(--background-color);
}

/* ********************************** */
/*              FEATURES              */
/* ********************************** */
.container-features {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;
	padding: 3rem 0;
}

.card-feature {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;

	background-color: #fff;
	border-radius: 1rem;
	padding: 1.5rem 0;
}

.card-feature i {
	font-size: 2.7rem;
	color: var(--primary-color);
}

.feature-content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.feature-content span {
	font-weight: 700;
	font-size: 1.2rem;
	color: var(--dark-color);
}

.feature-content p {
	color: #777;
	font-weight: 500;
}

























































































































/*FOOTER*/


.footer {
	background-color: var(--primary-color);
}

.container-footer {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 3rem;
}

.menu-footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr) 30rem;
	gap: 3rem;
	justify-items: center;
}

.title-footer {
	font-weight: 600;
	font-size: 1.6rem;
	text-transform: uppercase;
}

.contact-info,
.information,
.my-account,
.newsletter {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li {
	list-style: none;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 300;
}

.information ul li a,
.my-account ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover {
	color: var(--dark-color);
}

.social-icons {
	display: flex;
	gap: 1.5rem;
}

.social-icons span {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icons span i {
	color: #fff;
	font-size: 1.2rem;
}

.facebook {
	background-color: #3b5998;
}

.twitter {
	background-color: #00acee;
}

.youtube {
	background-color: #c4302b;
}

.pinterest {
	background-color: #c8232c;
}

.instagram {
	background: linear-gradient(
		#405de6,
		#833ab4,
		#c13584,
		#e1306c,
		#fd1d1d,
		#f56040,
		#fcaf45
	);
}

.content p {
	font-size: 1.4rem;
	color: #fff;
	font-weight: 300;
}

.content input {
	outline: none;
	background: none;
	border: none;
	border-bottom: 2px solid #d2b495;
	cursor: pointer;
	padding: 0.5rem 0 1.2rem;
	color: var(--dark-color);
	display: block;
	margin-bottom: 3rem;
	margin-top: 2rem;
	width: 100%;
	font-family: inherit;
}

.content input::-webkit-input-placeholder {
	color: #eee;
}

.content button {
	border: none;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	padding: 1rem 3rem;
	border-radius: 2rem;
	font-size: 1.4rem;
	font-family: inherit;
	cursor: pointer;
	font-weight: 600;
}

.content button:hover {
	background-color: var(--background-color);
	color: var(--primary-color);
}

.copyright {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;

	border-top: 1px solid #d2b495;
}

.copyright p {
	font-weight: 400;
	font-size: 1.6rem;
}

.fa-hippo{
    font-size: 3rem;
    cursor: pointer;
    color: #000;
}